.tooltip-inner {
	width: 150px;
}
.feedback {
	margin: 20px auto;
	padding:  20px;
}
.feedback:hover {
	background: #eee;
	border-color: #AAD;
	box-shadow: 5px 5px 5px #CCC;
	text-shadow: 0px 0px 1px #888;
}